@model IEnumerable<Vidly.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Movies</h1>
@if (!Model.Any())
{
    <p>There are no movies.</p>
}
else
{
    <button class="btn btn-primary" onclick="window.location.href='/Movie/New/'">New Movie</button><br /><br />

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movies</th>
                <th>Genre</th>
            </tr>
        </thead>
        @foreach (var movie in Model)
        {
            <tbody>
                <tr>
                    <td><a href="/Movie/Edit/@movie.Id">@movie.Name</a></td>
                    <td>@movie.Genre</td>
                </tr>
            </tbody>
        }
    </table>
}

